gitops/config.json
gitops/token
vco_openapi.json
*.pdf
__pycache__/
*.pyc
.DS_Store
.vscode/
.claude/
.venv/
.venv-auto/
.agent/

# Terraform ignores
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

